@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');
.middle-text{
    text-align: center;
}
body{
 color: #ddd; /* Light gray text for contrast */
    background-color: #1e1e1e; /* Dark gray background */

    height: 100%;
    display: flex;
     /* justify-content: center;  */
    /* align-items: center; */
    font-family:'Baloo Thambi 2',cursive;
    font-weight: 700;
    font-size: 3rem;
    
    margin:3%;
    display: flex;
    flex-direction: column;
}
.glow {
    animation: glow 2s ease-in-out infinite;
}
@keyframes glow {
    0%, 100%{
        color: #fff;
        text-shadow: 0 0 12px rgb(255,27,240),
  
           0 0 50px rgb(255,27,240)
           ,
         0 0 100px rgb(255,27,240);  
    }
    10%,90%{
        color: #111;
        text-shadow: none;
    }
    }
.containerrb{
 position: absolute;
  bottom: 5%;
  right: 5%;
  overflow:hidden;
}